# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.opensdf

# Binaries
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# OS files
.DS_Store
Thumbs.db

# Rider
.idea/

# VSCode
.vscode/

# Unreal generated project files
*.xcodeproj
*.xcworkspace

# Logs
*.log

# Crash
crashinfo--*

# Temp files
*.tmp